//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dt_dictation: dt_dictation {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_DICTATION";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp C_VOICE_COMMAND>;
        };

        dt_CAPS: dt_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_CAPS";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp CAPS>;
        };

        tt_slash: tt_slash {
            compatible = "zmk,behavior-tap-dance";
            label = "TT_SLASH";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp KP_SLASH>, <&kp BACKSLASH>;
        };

        dt_semicolon: dt_semicolon {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT>, <&kp SEMI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        L_Exclamation {
            bindings = <&kp EXCL>;
            key-positions = <30 37>;
        };

        R_Exclamation {
            bindings = <&kp EXCL>;
            key-positions = <30 42>;
        };

        L_Equal {
            bindings = <&kp KP_EQUAL>;
            key-positions = <37 15>;
        };

        R_Equal {
            bindings = <&kp KP_EQUAL>;
            key-positions = <15 42>;
        };

        R_Colon {
            bindings = <&kp COLON>;
            key-positions = <42 16>;
        };

        L_Colon {
            bindings = <&kp COLON>;
            key-positions = <16 37>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        Engram {
            bindings = <
       &kp B  &kp Y               &kp O           &kp U                 &kp ESC                                  &tt_slash      &kp L                  &kp D            &kp W                &kp V
&none  &kp C  &hm LEFT_CONTROL I  &hm LEFT_ALT E  &hm LEFT_COMMAND A    &kp KP_COMMA                             &dt_semicolon  &hm RIGHT_COMMAND H    &hm RIGHT_ALT T  &hm RIGHT_CONTROL S  &kp N  &none
&none  &kp G  &kp X               &kp J           &kp K                 &dt_dictation  &trans  &kp C_PLAY_PAUSE  &dt_CAPS       &kp R                  &kp M            &kp F                &kp P  &none
                                  &kp TAB         &mt LEFT_SHIFT SPACE  &kp BACKSPACE  &trans  &trans            &kp DEL        &mt RIGHT_SHIFT ENTER  &trans
            >;
        };

        Sticky_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "LOWER";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │    UP   │         │    {    │                    │    }    │    7    │    8    │    9    │    +    │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │         │         │   LEFT  │  DOWN   │  RIGHT  │    [    │                    │    ]    │    4    │    5    │    6    │    -    │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │   P UP  │ C LOCK  │ P DOWN  │    (    ││        ││        ││    )    │    1    │    2    │    3    │    *    │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │         │         │         │         ││         │         │    0    │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
        &none   &trans    &kp UP    &trans     &to 0                                 &none                  &kp LEFT_BRACKET           &kp RIGHT_BRACKET    &kp LESS_THAN                  &kp GREATER_THAN
&trans  &none   &kp LEFT  &kp DOWN  &kp RIGHT  &kp LEFT_PARENTHESIS                  &kp RIGHT_PARENTHESIS  &mt RIGHT_COMMAND KP_PLUS  &mt RIGHT_ALT MINUS  &mt RIGHT_CONTROL KP_MULTIPLY  &kp KP_DIVIDE     &trans
&trans  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                &trans  &trans  &kp N6                 &kp N7                     &kp N8               &kp N9                         &kp N0            &trans
                          &trans    &trans     &trans                &trans  &trans  &trans                 &none                      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        One_shot_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Nav_Mouse {
            bindings = <
        &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT  &to 0                   &trans  &mmv MOVE_LEFT  &mwh SCROLL_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
&trans  &trans    &kp LCTRL  &kp LALT  &kp LGUI   &trans                  &trans  &kp RGUI        &kp RALT          &kp LCTRL     &trans           &trans
&trans  &trans    &trans     &trans    &trans     &trans  &trans  &trans  &trans  &trans          &trans            &trans        &trans           &trans
                             &trans    &trans     &trans  &trans  &trans  &trans  &trans          &trans
            >;
        };
    };
};
