//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_pt_abnt2.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dt_apost_slash: dt_apost_slash {
            compatible = "zmk,behavior-tap-dance";
            label = "DT_APOST_SLASH";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp KP_SLASH>;
        };

        cedilha: cedilha {
            compatible = "zmk,behavior-mod-morph";
            label = "CEDILHA";
            bindings = <&kp PT_C>, <&kp PT_C_CEDILLA>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        question_exclamation: question_exclamation {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION_EXCLAMATION";
            bindings = <&kp QUESTION>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            bindings = <&kp PT_DOT>, <&kp PT_COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_equal: comma_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_EQUAL";
            bindings = <&kp PT_COMMA>, <&kp PT_EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Esc_one_handed {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };

        to_layer_0 {
            bindings = <&to 0>;
            key-positions = <38 4>;
        };

        to_layer_1 {
            bindings = <&to 1>;
            key-positions = <38 15>;
        };

        to_layer_2 {
            bindings = <&to 2>;
            key-positions = <38 27>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <15 16>;
        };

        sticky_layer_1 {
            bindings = <&to 1>;
            key-positions = <15 36>;
        };

        sticky_layer_2 {
            bindings = <&to 2>;
            key-positions = <27 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        Engram {
            bindings = <
       &kp B     &kp Y               &kp O                 &kp U                 &kp V                            &kp J                  &kp L                  &kp D            &kp W                &kp Q
       &cedilha  &hm LEFT_CONTROL I  &hm LEFT_ALT E        &hm LEFT_COMMAND A    &comma_equal                     &dot_colon             &hm RIGHT_COMMAND H    &hm RIGHT_ALT T  &hm RIGHT_CONTROL S  &kp N
       &kp G     &kp X               &kp Z                 &kp K                 &dt_apost_slash  &trans  &none   &question_exclamation  &kp R                  &kp M            &kp F                &kp P
                                     &mt LEFT_COMMAND TAB  &mt LEFT_SHIFT SPACE  &kp BACKSPACE                    &kp DEL                &mt RIGHT_SHIFT ENTER  &kp ESC
            >;
        };

        Nav+Mouse+Num+Symb {
            bindings = <
        &kp LEFT         &kp DOWN                      &kp UP                    &kp RIGHT                     &kp BACKSLASH                    &kp AT           &kp POUND                      &kp DOLLAR                 &kp PERCENT                    &kp AMPS
        &kp KP_NUMBER_0  &mt LEFT_CONTROL KP_NUMBER_1  &mt LEFT_ALT KP_NUMBER_2  &mt LEFT_COMMAND KP_NUMBER_3  &kp KP_NUMBER_4                  &kp KP_NUMBER_5  &mt RIGHT_COMMAND KP_NUMBER_6  &mt RIGHT_ALT KP_NUMBER_7  &mt RIGHT_CONTROL KP_NUMBER_8  &kp KP_NUMBER_9 
        &kp LESS_THAN    &kp LEFT_BRACKET              &kp LEFT_PARENTHESIS      &kp PLUS                      &kp MINUS        &trans  &trans  &kp KP_MULTIPLY  &kp KP_DIVIDE                  &kp RIGHT_PARENTHESIS      &kp RIGHT_BRACKET              &kp GREATER_THAN
                                                       &trans                    &trans                        &trans                           &trans           &trans                         &trans
            >;
        };

        Productivity+Controls {
            bindings = <
        &kp LG(N)      &kp LG(T)  &kp LG(X)  &kp LG(A)    &to 0                      &kp PAGE_UP    &trans        &trans            &trans        &kp C_POWER
        &kp LG(Q)      &kp LG(W)  &kp LG(C)  &kp LG(V)    &kp LG(R)                  &kp PAGE_DOWN  &kp PT_ACUTE  &kp PT_TILDE      &kp PT_CARET  &kp PT_GRAVE 
        &kp LG(LS(L))  &kp LG(S)  &kp LG(Z)  &kp LG(DOT)  &kp LG(F)  &trans  &trans  &trans         &none         &kp LG(KP_COMMA)  &kp LG(P)     &kp CLCK      
                                  &trans     &trans       &trans                     &trans         &trans        &trans
            >;
        };
    };
};
